flask>=3.0,<4
flask-socketio>=5.3,<6
flask-sqlalchemy>=3.1,<4
flask-login>=0.6,<1
bcrypt>=4.1,<5
gunicorn>=22,<23
gevent>=24.2
gevent-websocket>=0.10
PyMySQL>=1.1
cryptography>=42.0
psycopg2-binary>=2.9
